@{
    ViewBag.Title = "Quote Summary";
}
@section scripts{
    <script>
        var vendor = {
            vendorList: '@Url.Action("GetQuoteList", "Quote")',
    }
    </script>

    <script src="~/Scripts/CustomJs/QuoteList.js"></script>
}
<div class='row'>
    <div class='col-md-12'>
        <div class='box box-info'>
            <div class='box-body pad' style="min-height: 400px;">              
                <div class="row">
                    <div class="col-xs-12">
                        <div id="divQuoteList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
